PORT=4000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/reliefdb
JWT_SECRET=change_me
CORS_ORIGINS=http://localhost:5173,http://localhost:19006
S3_BUCKET=relief-media
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_REGION=ap-south-1
